.cartItem {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.productName {
    font-weight: 600;
}

.price {
    color: var(--color-rose-300);
}

.totalPrice {
    margin-left: 10px;
    font-weight: 400;
}

.quantity {
    margin-right: 10px;
    color: var(--color-red);
    font-weight: 600;
}

.delBtn {
    background-color: transparent;
    border: 1px solid var(--color-rose-300);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}