@media (min-width: 768px) {
    .main {
        display: flex;
        gap: 30px;
        align-items: start;
    }

    .productList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

}